<%- include('./partials/head') %>
<body>
<% if(isUser){%>
    <%- include('./partials/navbarAuth') %>
<%}
else{%>
    <%- include('./partials/navbar') %>
<%}%>
    <div id='page'>

        <div class="home">
            <h1 style="margin-bottom: 0;">About Us:</h1>
            <p style="padding-bottom: 30px;">
                Team Hyper Lynx has worked extremely hard to preseant you with Squareup-Sports,
                a fun sports game filled with trivia and challenging your friends to predictions on 
                outcomes of games. This was designed and produced in five weeks for the Techpoint SOS Challenge!
            </p>
        </div>

        <h2>Meet The Team!</h2>
        <br>
        
        <div class="aboutRow">
            <div class="aboutColumn">
            <div class="aboutCard">
                <img src="/images/about/Jaqui.jpg" alt="Jaqui" style="width:100%">
                <div class="container-about">
                <h2>Jaqui Fernandez</h2>
                <p>Marketing Coordinator</p>
                <br>
                <p >j.fernandezalvarez @myemail.indwes .edu</p>
                <form action="mailto:j.fernandezalvarez@myemail.indwes.edu">
                <p><button class="contactButton">Contact</button></p>
                </form>
                </div>
            </div>
            </div>
        
            <div class="aboutColumn">
            <div class="aboutCard">
                <img src="/images/about/Luke.jpg" alt="Luke" style="width:100%">
                <div class="container-about">
                <h2>Luke Thurston</h2>
                <p>Front End Developer</p>
                <br>
                <p>lthursto@purdue .edu</p>
                <form action="mailto:lthursto@purdue.edu">
                <p><button class="contactButton">Contact</button></p>
                </form>
                </div>
            </div>
            </div>
            
            <div class="aboutColumn" style="padding-bottom: 40px;">
            <div class="aboutCard">
                <img src="/images/about/Matthew.jpg" alt="Matthew" style="width:100%;">
                <div class="container-about">
                <h2>Matthew O'Hern</h2>
                <p>Lead Developer (Full Stack)</p>
                <br>
                <p>mohern@butler .edu</p>
                <form action="mailto:mohern@butler.edu">
                <p><button class="contactButton">Contact</button></p>
                </form>
                </div>
            </div>
            </div>

            <div class="aboutColumn">
            <div class="aboutCard">
                <img src="/images/about/Drake.jpg" alt="Drake" style="width:100%">
                <div class="container-about">
                <h2>Drake Wolan</h2>
                <p>Business Analyst</p>
                <br>
                <p>drake.wolan@ valpo.edu</p>
                <form action="mailto:drake.wolan@valpo.edu">
                <p><button class="contactButton">Contact</button></p>
                </form>
                </div>
            </div>
            </div>

            <div class="aboutColumn">
            <div class="aboutCard">
                <img src="/images/about/Ben.jpg" alt="Ben" style="width:100%">
                <div class="container-about">
                <h2>Ben Rich</h2>
                <p>Front End Developer and Project Manager</p>
                <br>
                <p>benlr98@gmail .com</p>
                <form action="mailto:benlr98@gmail.com">
                <p><button class="contactButton">Contact</button></p>
                </form>
                </div>
            </div>
            </div>

            <div class="aboutColumn">
            <div class="aboutCard">
                <img src="/images/about/Amber.jpg" alt="Amber" style="width:100%;">
                <div class="container-about">
                <h2>Amber Little</h2>
                <p>Marketing Coordinator</p>
                <br>
                <p>littleah@rose-hulman.edu</p>
                <form action="mailto:littleah@rose-hulman.edu">
                <p><button class="contactButton">Contact</button></p>
                </form>
                </div>
            </div>
            </div>
        </div>
    </div>    
</body>