
<%- include('./partials/head') %>
<%- include('./partials/navbarAuth') %>
<% if(type == 'winner'){ %>
    <h1> Congrats!!!</h1>
    <h3>You have won <%=prize%> points!</h3>
<%}else{%>
    <h1> Sorry!!!</h1>
    <h3>Please try again!</h3>
<%}%>
<a href="/home/trivia"><h6>Do More Trivia</h6></a>

