<%- include('./partials/head') %>

<body>
    <%- include('./partials/navbarAuth') %>
    <h1 id="heading">Hello <%= user.username %></h1>
    <aside>
        <h2>Points: <%= user.points %></h2>
    </aside>
    <form method="POST" action="/home/game/listMine" style="display: inline;">
    <button type="submit" class="button" id="myRooms">My Challenge Rooms</button>
    </form>
    <button class="button" id="ButtonOne" onclick="ShopLink">Prize Shop</button>
    <br>
    <button class="button" id="ButtonTwo" onclick="FriendsLink">Friends</button>
    <button class="button" id="ButtonTwo" onclick="SocialLink">Social</button>
