
<%- include('./partials/head') %>

<body>

    <%- include('./partials/navbar') %>
    <div class="container home">

    <h1>Welcome to home base.</h1>
    <p>Create or join challenge rooms. This is where you predict sport outcomes against your friends to earn the most points. Remember, points earn you prizes!</p>
    <br>
    <p>Checkout the earn prizes tab to learn about other ways to earn points.</p>
    <br>
    <br>
    <div class="flex">
        <h2 id="heading">Profile: <span><%= user.username %></span></h2>
        <h2>Points: <span><%= user.points %></span></h2>
    </div>
    


    <button class="button" id="gameButton">Create or join a challenge room</button>
    <!-- <button class="button" id="triviaButton">Trivia Center</button> -->
    <!-- <br> -->
    <form method="POST" action="/home/game/listMine" style="display: inline;">
        <button type="submit" class="button" id="myRooms">Games in progress</button>
    </form>
    <button class="button" id="ButtonOne" onclick="ShopLink">Prize Shop</button>
    <button class="button" id="ButtonTwo" onclick="FriendsLink">Friends</button>
    <button class="button" id="ButtonTwo" onclick="SocialLink">Social</button>

    </div>



    <script type="text/javascript">
        document.getElementById("gameButton").onclick = function () {
            location.href = "/home/game";
        };
        document.getElementById("triviaButton").onclick = function () {
            location.href = "/home/trivia";
        };
    </script>

</body>