<!DOCTYPE html>
<%- include('./partials/head') %>
    <body>
        <%- include('./partials/navbarAuth') %>
        <div class="container home">

            <h1>Choose a Sport</h1>
            <ul class="flex-outer">
            <% for(let i = 0; i < sportsAv.length; i++) { %>
                <li><button style="font-size: 100%;" class="button" id="button"><%= sportsAv[i].split("_").join(" ") %></button></li>
            <% } %>
            </ul>

        </div>
        

        
        <script>
            var buttons = document.getElementsByTagName('button');
            for(var i=0, len = buttons.length; i < len; i++){
                buttons[i].onclick= function (){
                    clickFunction (this);
                }
            }

            function clickFunction(elmnt) {
                var sportName = elmnt.innerHTML;
                sportName = sportName.split(" ").join("_");
                location.href = "/home/<%= type %>/"+sportName+"";
            };            
        </script>
    </body>
</html>