<%- include('./partials/head') %>

<body>
    <%- include('./partials/navbarAuth') %>
    <div class="container">
        
        <h1>Spend your points here.</h1>

        <ul class="flex-outer">
            <li>
                <img class="prize-image" src="/images/wnba.jpg" alt="">
                <div class="prize">25% off WNBA apparel.</div>
                <button class="prize-button">2000 points</button>
            </li>
            <li>
                <img class="prize-image" src="/images/twitter-logo.png" alt="">
                <div class="prize">Shoutout on WNBA twitter.</div>
                <button class="prize-button">3000 points</button>
            </li>
            <li>
                <img class="prize-image" src="/images/clock.png" alt="">
                <div class="prize">Halftime show participant.</div>
                <button class="prize-button">4000 points</button>
            </li>
            <li>
                <img class="prize-image" src="/images/nfl.png" alt="">
                <div class="prize">Ticket to Bills vs Giants</div>
                <button class="prize-button">5000 points</button>
            </li>
            <li>
                <img class="prize-image" src="/images/tv.jpg" alt="">
                <div class="prize">Shoutout on TV</div>
                <button class="prize-button">6000 points</button>
            </li>
            
        </ul>

    </div>
</body>